---
import Transcript from "@/components/pdf/Transcript.astro";
import PdfLayout from "@/layouts/PdfLayout.astro";
import { eq } from "astro:db";
import { Draft, Interaction } from "astro:db";
import { db } from "astro:db";

const { id } = Astro.params;

const draft = await db
    .select()
    .from(Draft)
    .where(eq(Draft.id, Number(id)))
    .limit(1)
    .get();

if (draft == null) {
    return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
    return Astro.redirect(`/chat/${id}`);
}

const messages = await db
    .select()
    .from(Interaction)
    .where(eq(Interaction.draftId, Number(id)));

    

---

<PdfLayout title={`Draft ${draft.title} - ${draft.llm}`}>
    <section>
        <div class="my-10 font-catamaran">
            <p class="text-end font-bold">{draft.llm}</p>
            <h1 class="font-bold text-3xl">{draft.title}</h1>
        </div>

        <ul class="flex flex-col gap-5 divide-y-2 divide-slate-700/15">
            {
                messages.map((message, _) => {
                    return <Transcript message={message} />;
                })
            }
        </ul>
    </section>
</PdfLayout>

<script>
    //  import { jsPDF } from "jspdf";
    // // window.jsPDF = window.jspdf.jsPDF;

    // const uuid = crypto.randomUUID();

    // window.onload = function () {
    //     const doc = new jsPDF();
    //     // Source HTMLElement or a string containing HTML.
    //     var elementHTML = document.body;

    //     console.log(elementHTML);

    //     doc.html(elementHTML, {
    //         callback: function (doc) {
    //             // Save the PDF
    //             // doc.save(crypto.randomUUID() + "sample-document.pdf");
    //         },
    //         x: 0,
    //         y: 0,
    //         autoPaging: "text",
    //         width: 220, //target width in the PDF document
    //         windowWidth: 700, //window width in CSS pixels
            
    //     });
    // };
 
</script>
