---
import { type DraftMessage } from "@/model/chat;
import { getAction } from "@/utils/phase";

export interface Props {
    message: DraftMessage;
}

const { message } = Astro.props;

const phase = getAction(message.phaseId);

let [day, month, year] = [
    message.date.getDate(),
    message.date.getMonth() + 1,
    message.date.getFullYear(),
];
---

<article class="flex flex-col">
    <h2 class="font-catamaran font-semibold text-xl">{phase.title}</h2>

    <section>
        <h3 class="font-catamaran font-semibold text-lg">Prompt:</h3>
        <p class="whitespace-pre-line text-pretty">
            {message.prompt}
        </p>
    </section>
    <section class="text-pretty">
        <h3 class="font-catamaran font-semibold text-lg">Response:</h3>
        <p class="whitespace-pre-line text-pretty break-before-page">
            {message.response}
        </p>
    </section>

    <div class="mt-5 text-right
flex flex-row justify-between items-center">
        <section
            class="py-1 px-3 bg-lime-600 bg-opacity-60 rounded-full
        flex flex-row gap-1"
        >
            <p class="font-medium">Date:</p>
            {`${day}/${month}/${year}`}
        </section>
        {
            message.score && message.score !== -1 && (
                <section
                    class="py-1 px-3 rounded-full
                bg-yellow-400 bg-opacity-40
                flex flex-row gap-1"
                >
                    <p class="font-medium">Score:</p> {message.score}
                </section>
            )
        }
    </div>
</article>
