---
import { type Action } from "@/model/diagram";
import { PromptList } from "./PromptList";
import { Card, CardContent, CardDescription, CardTitle } from "@design/ui/card";
import { Separator } from "@design/ui/separator";
import { Textarea } from "@design/ui/textarea";
import { Input } from "@design/ui/input";
import { Button } from "@design/ui/button";

export interface Props {
    draftId: number;
    action: Action;
}

const { draftId, action } = Astro.props;
---

<Card className="p-6 gap-2 grid">
    <CardTitle className="flex flex-row justify-around">
        <p class="">Accion</p>
        <p class="text-accent-foreground font-semibold">
            {action.title}
        </p>
    </CardTitle>
    <CardDescription>
        <p class="whitespace-pre-line text-sm">{action.description}</p>
    </CardDescription>

    <Separator />

    <CardContent>
        <PromptList prompts={action.prompts} action={action} client:visible />

        <h3 class="font-bold mt-6 mb-2">Escriba la respuesta a la acción</h3>

        <form
            action={`/api/drafts/${draftId}/action`}
            method="post"
            class="flex flex-col gap-5 border rounded-lg p-2"
        >
            <div class="w-full">
                <p>Prompt:</p>
                <Textarea name="prompt" required minLength={4} />
            </div>
            <div class="w-full">
                <p>Response:</p>
                <Textarea name="response" required minLength={4} />
            </div>

            {
                action.evaluate && (
                    <div class="w-full">
                        <p>Score:</p>
                        <Input name="score" required type="number" min="0" />
                    </div>
                )
            }
            <!-- 
                className="bg-green-500 hover:bg-green-700 bg-opacity-80 p-2 rounded-lg mx-auto" -->
            <Button type="submit" className="mx-auto"> Save </Button>
        </form>
    </CardContent>
</Card>

<h2 class="font-bold text-xl mt-6 text-center">ACCION</h2>

<section class="mb-10 bg-slate-600 p-2 rounded-lg"></section>

<!--
cojo la prompt general generada con los prompts que vaya generando
    , saco la response y la guardo, 
    y el action va a un decision

decision -> Si o No 

-> Si, siguiente decision | No, a la accion designada 


API Para pasar de accion a la siguiente decision

/api/drafts/[id]/actions/[id]

POST
{
    "draftId"
    "prompt"
    "response"
}


API para elegir el resultado de la decision

/api/drafts/[id]/decision
POST
{
    "draftId"
    "decision" : "Y|N"
}


-->
