---
import type { Decision } from "@/model/diagram";
import { Card, CardContent, CardDescription, CardTitle } from "@design/ui/card";
import { DecisionForm } from "@/components/ui/job/DecisionForm";
import { Separator } from "@design/ui/separator";
import { Button } from "@design/ui/button";
import type { IntentInstance } from "@/model/model";

export interface Props {
    instance: IntentInstance;
    draftId: number;
    decision: Decision;
}

const { instance,draftId, decision } = Astro.props;
---

<Card className="p-6 gap-2 grid">
    <CardTitle className="flex flex-row justify-around">
        <p class="">Decision</p>
        <p class="text-accent-foreground font-semibold">
            {decision.title}
        </p>
    </CardTitle>

    <CardDescription>
        <p class="whitespace-pre-line text-sm">{decision.description}</p>
    </CardDescription>

    <Separator />
    <!-- 
    className="mb-10 bg-slate-600 p-2 rounded-lg"
 -->
    <CardContent>
        <DecisionForm instance={instance} draftId={draftId} decision={decision} client:visible />
    </CardContent>
</Card>