---
import { type Action } from "@/model/diagram";
import { PromptList } from "./PromptList";
import { Card, CardContent, CardDescription, CardTitle } from "@design/ui/card";
import { Separator } from "@design/ui/separator";
import { MessageForm } from "../form/MessageForm";
import { getChat } from "@/services/chatService"
import type { IntentInstance } from "@/model/model";

export interface Props {
    draftId: number;
    action: Action;
    instance: IntentInstance;
}

const {instance, draftId, action } = Astro.props;

const chat = await getChat(draftId);

if ('requestError' in chat) {
    console.log(chat)
    return chat.requestError;
}

---

<Card className="p-6 gap-2 grid">
    <CardTitle className="flex flex-row justify-around">
        <p class="">Action</p>
        <p class="text-accent-foreground font-semibold">
            {action.title}
        </p>
    </CardTitle>
    <CardDescription>
        <p class="whitespace-pre-line text-sm">{action.description}</p>
    </CardDescription>

    <Separator />

    <CardContent>
        <PromptList prompts={action.prompts} action={action} client:visible />

        <h3 class="font-bold mt-6 mb-2">Step needed data:</h3>

        <MessageForm draft={chat} phase={action} client:visible/>
    </CardContent>
</Card>
