---
import type { DraftGroup } from "@/model/draft";

export interface Props {
    llm: string;
    drafts: DraftGroup[];
}

const { llm, drafts } = Astro.props;
---

<h3 class="text-center mx-auto font-semibold mb-4">{llm}</h3>

{
    drafts.map((draft) => (
        <li
            id={`list-${draft.id}`}
            data-id={`${draft.id}`}
            class=" draft-cell m-4 flex flex-col bg-slate-600 bg-opacity-30 p-2 text-sm rounded-lg"
        >
            <a href={`/drafts/${draft.id}`} class="font-bold">
                {draft.title}
            </a>
            <p class="text-end">{draft.currentPhase}</p>
        </li>
    ))
}

<script>
    const bc = new BroadcastChannel("title_change");

    function checkUpdate(draftId: Number, newTitle: string) {
        const $draftLi = document.querySelectorAll(`.draft-cell`);

        $draftLi.forEach((li) => {
            const id = li.getAttribute("data-id");

            if (id === null || parseInt(id) !== draftId) {
                return;
            }

            const $title = li.querySelector("a");

            if ($title === null) {
                console.error("Title anchor not found")
                return;
            }

            $title.textContent = newTitle;
        });
    }

    bc.onmessage = (event) => {
        const { draftId, newTitle } = event.data;

        checkUpdate(draftId, newTitle);
    };
</script>
