---
import InstanceInfo from "@/components/ui/instance/InstanceInfo.astro";
import { DeleteInstance } from "@/components/ui/instance/DeleteInstance";
import { InstanceTitle } from "@/components/ui/instance/InstanceTitle";
import Layout from "@/layouts/Layout.astro";
import type { Draft } from "@/model/draft";
import { getInstance } from "@/services/instanceService";
import { DraftInfo } from "@/components/ui/instance/DraftInfo";
import { CreateDraft } from "@/components/ui/instance/CreateDraft";
import { CloneInstance } from "@/components/ui/instance/CloneInstance";
import { InstanceSettings } from "@/components/ui/instance/InstanceSettings";

const { id } = Astro.params;

if (id == null) {
    return Astro.redirect("/");
}

const instance = await getInstance(parseInt(id));

if ("status" in instance) {
    console.error(instance);

    if (instance.status === 404) {
        return Astro.redirect("/");
    }

    return new Response(instance, instance.status);
}

// if (Astro.request.method === "POST") {
//     return Astro.redirect(`/chat/${id}`);
// }

// const currentPhase = getAction(draft.currentPhase);

// if (currentPhase === undefined) {
//     console.log("No phase found");
//     return;
// }

const drafts = instance.drafts;

const [finalizedDrafts, currentDraft]: [Draft[], Draft | null] = [
    drafts.filter((d) => d.finalized),
    drafts.find((d) => !d.finalized),
];

// console.log(drafts)
---

<Layout title={`Instance ${instance.displayName}`}>
    <main class="flex-1 space-y-4 p-8 pt-6">
        <div class="flex flex-row items-center justify-between space-y-2">
            <h2 class="text-xl font-bold mb-5">Instance #{instance.id}</h2>
            <div class="gap-2 flex">
                <CloneInstance instance={instance} client:visible />
                <InstanceSettings instance={instance} client:visible />
            </div>
        </div>
        <div class="flex flex-row items-center justify-between space-y-2">
            <InstanceTitle
                instanceId={instance.id}
                title={instance.displayName}
                client:visible
            />
            <DeleteInstance instanceId={instance.id} client:visible />
        </div>

        <InstanceInfo instance={instance} />

        <CreateDraft instance={instance} client:visible />

        <section id="draft-list">
            {
                instance.drafts.map((draft) => {
                    return (
                        <DraftInfo
                            draft={draft}
                            intentInstanceId={instance.id}
                            client:visible
                        />
                    );
                })
            }
        </section>
    </main>
</Layout>
